<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notice</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chiron Sung HK:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" th:href="@{/css/customFlatpickr.css}">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
    <style>
        .search-box {
            width: 100%;
            margin-bottom: 0.95rem;
        }
        .sch-form {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
        .sch-row {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
        .date-group .form-control {
            width: 8.5rem;
            height: 1.85rem;
        }
        .date-separator {
            font-size: 1rem;
            font-weight: bold;
            color: #555;
        }
        .keyword-group .form-control {
            width: 14rem;
            height: 1.85rem;
            display: flex;
            align-items: center;
        }
        .btn-group {
            display: flex;
            gap: 0.25rem;
        }
        .align-start{
            text-align: start;!important;
        }
    </style>
</head>
<body>
    <!-- HEADER FRAGMENT -->
    <header class="header">
        <th:block th:replace="~{commons/fragments/headerPage.html :: header}"></th:block>
    </header>

    <div class="container">

        <!-- SIDEBAR FRAGMENT -->
        <div class="navbar">
            <th:block th:replace="~{commons/fragments/navbarPage.html :: navbar}"></th:block>
        </div>

        <!-- MAIN CONTENT -->
        <main class="main">

            <!-- CONTENT AREA -->
            <div class="content">
                <div class="dashboard-grid">

                    <div class="card">

                        <div class="main-title">
                            <th:block th:replace="~{commons/fragments/mainTitlePage.html :: mainTitle('공지사항')}"></th:block>
                        </div>
                        <div class="search-box">
                            <form action="/notice" method="get" class="sch-form">
                                <div class="sch-row">
                                    <div class="date-group">
                                        <input type="text" id="dateInput" name="staDate" class="form-control" placeholder="년도-월-일" th:value="${search.staDate}">
                                        <span class="date-separator">~</span>
                                        <input type="text" id="dateInput2" name="endDate" class="form-control" placeholder="년도-월-일" th:value="${search.endDate}">
                                    </div>

                                    <div class="sch-group keyword-group">
                                        <input type="search" class="form-control" name="keyword" placeholder="검색 키워드" th:value="${search.keyword}">
                                    </div>

                                    <div class="btn-group">
                                        <button type="submit" class="btn-pink">검색</button>
<!--                                        <a href="/noticeReg" class="btn-navy" th:if="${user.sort == '관리자'}">등록</a>-->
                                        <a href="/noticeReg" class="btn-navy">등록</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성날짜</th>
                                    <th>조회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${#lists.isEmpty(noticeList)}">
                                    <td colspan="5">등록된 공지가 없습니다</td>
                                </tr>
                                <tr th:each="notice:${noticeList}" th:unless="${#lists.isEmpty(noticeList)}">
                                    <td th:text="${notice.f_id}"></td>
                                    <td style="text-align: start;!important"><a th:href="@{/detail/{id}(id=${notice.f_id})}" th:text="${notice.f_title}"></a></td>
                                    <td th:text="${notice.writer.f_name}"></td>
                                    <td th:text="${#temporals.format(notice.f_regdate, 'yyyy-MM-dd HH:mm')}"></td>
                                    <td th:text="${notice.f_viewcnt}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination">
                            <a th:if="${currentPage > 1}"
                               th:href="@{/notice(page=${currentPage - 1}, size=${size},
                                            keyword=${search.keyword},
                                            staDate=${search.staDate},
                                            endDate=${search.endDate})}"
                               class="page-btn prev">«</a>

                            <a th:each="i : ${#numbers.sequence(1, totalPages)}"
                               th:href="@{/notice(page=${i}, size=${size},
                                            keyword=${search.keyword},
                                            staDate=${search.staDate},
                                            endDate=${search.endDate})}"
                               th:text="${i}"
                               th:classappend="${i == currentPage} ? ' active' : ''"
                               class="page-btn"></a>

                            <a th:if="${currentPage < totalPages}"
                               th:href="@{/notice(page=${currentPage+1}, size=${size},
                                            keyword=${search.keyword},
                                            staDate=${search.staDate},
                                            endDate=${search.endDate})}"
                               class="page-btn next">»</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        flatpickr("#dateInput", {
            dateFormat: "Y-m-d",
            locale : "ko"
        });
        flatpickr("#dateInput2", {
            dateFormat: "Y-m-d",
            locale : "ko"
        })
    </script>
</body>
</html>