<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chiron Sung HK:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .mt-2{
            margin-top: 2rem;
        }
        .hei-3{
            height: 3.5rem;
        }
        .card-title .detail{
            font-weight: 500;
            font-size: 0.8rem;
            cursor: pointer;
            color: #555;
        }
        .card-title .detail:hover{
            text-decoration: underline;
            color: #007bff;
        }
        .card .notice-list {
            margin-top: 0;
            padding-left: 0.25rem;
            line-height: 1.5;
        }
        .card .notice-list li {
            list-style: none;
            display: flex;
            /*padding: 0.55rem 0;*/
            justify-content: space-between;
            border-bottom: 1px dashed #eee;
            font-size: 0.8rem;
            color: #555;
        }
        .notice-list li:last-child {
            border-bottom: none;
        }
        .notice-list a{
            color: var(--text-light);
            cursor: pointer;
        }
        .notice-list .date {
            color: #aaa;
        }
        .card-body {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 4rem;
        }
    </style>
</head>
<body>
    <!-- HEADER FRAGMENT -->
    <header class="header">
        <th:block th:replace="~{commons/fragments/headerPage.html :: header}"></th:block>
    </header>

    <div class="container">

        <!-- SIDEBAR FRAGMENT -->
        <div class="navbar">
            <th:block th:replace="~{commons/fragments/navbarPage.html :: navbar}"></th:block>
        </div>

        <!-- MAIN CONTENT -->
        <main class="main">

<!--            <div class="main-title">-->
<!--                <th:block th:replace="~{commons/fragments/mainTitlePage.html :: mainTitle('대시보드')}"></th:block>-->
<!--            </div>-->

            <!-- CONTENT AREA -->
            <div class="content">
                <div class="dashboard-grid">
                    <div class="card">
                        <div class="card-title">작품 등록현황</div>
                        <table class="table mt-2">
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>등록</th>
                                    <th>승인</th>
                                    <th>미승인</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hei-3">
                                    <td>수상작</td>
                                    <td th:text="${#numbers.formatInteger(workStats.awardStats.total_cnt, 1, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(workStats.awardStats.valid_cnt, 1, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(workStats.awardStats.invalid_cnt, 1, 'COMMA')}"></td>
                                </tr>
                                <tr class="hei-3">
                                    <td>초대작</td>
                                    <td th:text="${#numbers.formatInteger(workStats.invitStats.total_cnt, 1, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(workStats.invitStats.valid_cnt, 1, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(workStats.invitStats.invalid_cnt, 1, 'COMMA')}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card">
                        <div class="card-title">공지사항 <a href="/notice" class="detail">+ 더보기</a></div>

                        <ul class="notice-list" th:if="${#lists.isEmpty(noticeList)}">
                            <li class="empty-list" style="display: flex; justify-content: center; font-size: 0.95rem;">
                                <span>등록된 공지가 없습니다</span>
                            </li>
                        </ul>
                        <ul class="notice-list" th:each="notice:${noticeList}" th:unless="${#lists.isEmpty(noticeList)}">
                            <li>
                                <a th:href="@{/detail/{id}(id=${notice.f_id})}" th:text="${notice.f_title}"></a>
                                <span class="date" th:text="${#temporals.format(notice.f_regdate, 'yyyy-MM-dd')}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dashboard-grid">
                    <div class="card">
                        <div class="card-title">작품 현황</div>
                        <div class="card-body">
                            <canvas id="myDoughnutChart" width="350" height="300"></canvas>
                            <canvas id="myDoughnutChart2" width="350" height="300"></canvas>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-title">회원 현황</div>
                        <div class="card-body">
                            <canvas id="myPieChart" width="350" height="300"></canvas>
                            <canvas id="myBarChart" width="350" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <div class="dashboard-grid">
                    <div class="card">
                        <div class="card-title">발매년도 현황</div>
                        <div class="card-body">
                            <canvas id="myLineChart" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </main>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0/dist/chart.umd.min.js"></script>
    <script>
        // document.querySelector('.admin-name').addEventListener('click', function() {
        //     this.closest('.admin-name').classList.toggle('active');
        // });
        const titleTextPlugin = {
            id: 'titleText',
            afterDraw(chart, args, options) {
                if (!options || !options.text) return;

                const { ctx, chartArea } = chart;
                if (!chartArea) return;

                const centerX = (chartArea.left + chartArea.right) / 2;
                // const centerY = (chartArea.top + chartArea.bottom) / 2 + 80;
                const centerY = (chartArea.top) + 10;

                ctx.save();
                ctx.font = options.font || 'bold 15px Arial';
                ctx.fillStyle = options.color || '#000';
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                ctx.fillText(options.text, centerX, centerY);
                ctx.restore();
            }
        };

        document.addEventListener('DOMContentLoaded', function() {
            chart.doughnutChart();
            chart.pieChart();
            chart.barChart();
            chart.lineChart();
        })
        const chart = {
            createChart: function(chartId, type, data, options){
                const ctx = document.getElementById(chartId).getContext('2d');
                const myChart = new Chart(ctx, {
                    type : type,
                    data : data,
                    options : options
                })
            },
            createDouChart : function(chartId, data, title){
                const douCtx = document.getElementById(chartId).getContext('2d');
                const myDoughnutChart = new Chart(douCtx, {
                    type: 'doughnut',
                    data: data,
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,
                        plugins: {
                            titleText: {
                                text: title,
                                font: 'bold 15px Arial',
                                color: '#757373'
                            },
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    padding: 10,
                                },
                            }
                        },
                        interaction: {
                            intersect: false,
                        },
                        rotation: -90,
                        circumference: 180,
                    },
                    plugins: [titleTextPlugin]
                })
            },
            doughnutChart : function (){
                const url = '/main/doughnut-chart';

                fetch(url, {
                    method: 'GET'
                })
                    .then(res => res.json())
                    .then(data => {
                        if(!data.status) {
                            alert(data.msg);
                            return;
                        }
                        const award = data.data.awardStats;
                        const invit = data.data.invitStats;
                        const backgroundColor = ['#f17f97', '#fab2c1', '#ffe9e9'];
                        const douAwardData = {
                            labels : ['등록', '승인', '미승인'],
                            datasets : [
                                {
                                    // label : '수상작',
                                    data : [award.total_cnt, award.valid_cnt, award.invalid_cnt],
                                    backgroundColor : backgroundColor
                                },

                            ]
                        }
                        const douInvitData = {
                            labels : ['등록', '승인', '미승인'],
                            datasets : [
                                {
                                    // label : '초대작',
                                    data : [invit.total_cnt, invit.valid_cnt, invit.invalid_cnt],
                                    backgroundColor : backgroundColor
                                }
                            ]
                        }
                        this.createDouChart('myDoughnutChart', douAwardData, '수상작');
                        this.createDouChart('myDoughnutChart2', douInvitData, '초대작');

                    })
            },
            pieChart : function (){
                const url = '/main/pie-chart';
                fetch(url, {
                    method: 'GET'
                })
                    .then(res => res.json())
                    .then(data => {
                        if(!data.status) {
                            alert(data.msg);
                            return;
                        }
                        const row = data.data;
                        const userCnt = Number(row.user_cnt);
                        const adminCnt = Number(row.admin_cnt);
                        const backgroundColors = ['#f17f97', '#fab2c1'];
                        const pieData = {
                            labels : ['운영회원', '관리자'],
                            datasets : [
                                {
                                    data : [userCnt, adminCnt],
                                    backgroundColor : backgroundColors
                                }
                            ]
                        };
                        const options = {
                            responsive: false,
                            maintainAspectRatio: false,
                            plugins: {
                                legend: {
                                    display: true,
                                    position: 'bottom',
                                    labels: {
                                        padding: 50,
                                        boxWidth: 20,
                                        boxHeight: 15,
                                    }
                                },
                            },
                            interaction: {
                                intersect: false,
                            }
                        }
                        this.createChart('myPieChart', 'pie', pieData, options);
                    })
            },
            barChart : function (){
              const url = '/main/bar-chart';
              fetch(url, {
                  method: 'GET'
              })
                  .then(res => res.json())
                  .then(data => {
                      const row = data.data;
                      const labels = row.map(item => item.f_name);
                      const regCnt = row.map(item => item.reg_cnt);
                      const backgroundColor = ['#f17f97', '#fab2c1', '#ffe9e9'];
                      const barData = {
                          labels : labels,
                          datasets : [
                              {
                                  label : '등록 수',
                                  data: regCnt,
                                  backgroundColor: backgroundColor,
                                  borderColor: backgroundColor,
                                  borderWidth: 1
                              }]
                      };
                      const barCtx = document.getElementById("myBarChart").getContext('2d');
                      const myBarChart = new Chart(barCtx, {
                          type : 'bar',
                          data : barData,
                          options : {
                              responsive: false,
                              maintainAspectRatio: false,
                              maxBarThickness: 170,
                              plugins: {
                                  titleText: {
                                      text: '등록 수 TOP3',
                                      font: 'bold 15px Arial',
                                      color: '#757373'
                                  },
                                  legend: {
                                      display: false,
                                  },
                              },
                              interaction: {
                                  intersect: false,
                              },
                              scales: {
                                  x: {
                                      grid: {
                                          display: false
                                      },
                                  },
                                  y: {
                                      ticks: {
                                          display: false,
                                      },
                                      border: {
                                          display: false
                                      },
                                      grid: {
                                          display: false
                                      },
                                  }
                              },
                          },
                          plugins: [titleTextPlugin]
                      })
                  })
            },
            lineChart : function(){
                const url = '/main/line-chart';
                fetch(url,{
                    method: 'GET'
                })
                    .then(res => res.json())
                    .then(data => {
                        if(!data.status) {
                            alert(data.msg);
                            return;
                        }
                        const row = data.data;
                        const labels = [];
                        const awardData = [];
                        const invitData = [];

                        row.map(item => {
                            labels.push(item.f_year);
                            awardData.push(item.award_cnt);
                            invitData.push(item.invit_cnt);
                        })
                        const lineData = {
                            labels : labels,
                            datasets : [{
                                label: '수상작',
                                data: awardData,
                                borderColor: '#f17f97',
                                backgroundColor: '#f17f97',
                            },
                            {
                                label: '초대작',
                                data: invitData,
                                borderColor: '#fab2c1',
                                backgroundColor: '#fab2c1',
                            }]
                        }
                        const options = {
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                legend: {
                                    display: true,
                                    position: 'bottom',
                                }
                            },
                            interaction: {
                                intersect: false,
                            },
                            scales: {
                                x: {
                                    grid: {
                                        display: false
                                    },
                                },
                                y: {
                                    grid: {
                                        display: false,
                                    },
                                    ticks: {
                                        display: false,
                                    },
                                    border: {
                                        display: false
                                    }
                                }
                            }
                        };
                        this.createChart('myLineChart', 'line', lineData, options);
                    })
            }
        }
    </script>
</body>
</html>