<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.java_practice.commons.mapper.AdminMapper">

    <resultMap type="award" id="awardResultSet">
        <result column="F_WORK_NO" property="f_work_no" />
        <result column="F_TITLE" property="f_title" />
        <result column="F_AUTHOR" property="f_author" />
        <result column="F_CONTEST" property="f_contest" />
        <result column="F_AWARD" property="f_award" />
        <result column="F_CODE" property="f_code" />
        <result column="F_REG_DATE" property="f_reg_date" />
    </resultMap>

    <resultMap type="workwithuser" id="workResultSet">
        <result column="F_CODE" property="f_code" />
        <result column="F_TITLE" property="f_title" />
        <result column="F_CONTEST" property="f_contest" />
        <result column="F_AUTHOR" property="f_author" />
        <result column="F_AWARD" property="f_award" />
        <result column="F_HOST" property="f_host" />
        <result column="F_MANAGER" property="f_manager" />
        <result column="F_YEAR" property="f_year" />
        <result column="F_REG_DATE" property="f_reg_date" />
        <result column="F_FILEPATH" property="f_filepath" />
        <result column="F_NAME" property="f_name" />
        <result column="F_DEPT" property="f_dept" />
        <result column="F_ID" property="f_id" />
        <result column="F_AREA" property="f_area" />
        <result column="F_BIRTH" property="f_birth" />
        <result column="F_PHONE" property="f_phone" />
        <result column="F_EMAIL" property="f_email" />
        <result column="F_MAIN_ADDRESS" property="f_main_address" />
        <result column="F_SUB_ADDRESS" property="f_sub_address" />
        <result column="F_USER_NO" property="f_user_no" />
    </resultMap>

    <resultMap type="user" id="userResultSet">
        <result column="F_USER_NO" property="f_user_no" />
        <result column="F_ID" property="f_id" />
        <result column="F_NAME" property="f_name" />
        <result column="F_PERSONAL_NUM" property="f_personal_num" />
        <result column="F_REG_DATE" property="f_reg_date" />
        <result column="F_AREA" property="f_area" />
        <result column="F_BIRTH" property="f_birth" />
        <result column="F_PHONE" property="f_phone" />
        <result column="F_EMAIL" property="f_email" />
        <result column="F_DEPT" property="f_dept" />
        <result column="F_POSITION" property="f_position" />
        <result column="F_MAIN_ADDRESS" property="f_main_address" />
        <result column="F_SUB_ADDRESS" property="f_sub_address" />
        <result column="F_LOGIN_DATE" property="f_login_date" />
        <result column="F_MOD_DATE" property="f_mod_date" />
        <result column="F_STATUS" property="f_status" />
        <result column="F_MEMO" property="f_memo" />

        <collection property="f_auth" ofType="Auth">
            <result property="f_auth_award" column="F_AUTH_AWARD"/>
            <result property="f_auth_invit" column="F_AUTH_INVIT"/>
            <result property="f_auth_reg" column="F_AUTH_REG"/>
            <result property="f_auth_sim" column="F_AUTH_SIM"/>
            <result property="f_auth_user" column="F_AUTH_USER"/>
            <result property="f_auth_admin" column="F_AUTH_ADMIN"/>
        </collection>

    </resultMap>

    <sql id="selWork">
        F_WORK_NO, F_TITLE, F_AUTHOR, F_CODE, TO_CHAR(F_REG_DATE, 'YYYYMMDD') AS F_REG_DATE
    </sql>

    <sql id="selAuth">
        T4.F_AUTH_AWARD,
        T4.F_AUTH_INVIT,
        T4.F_AUTH_REG,
        T4.F_AUTH_SIM,
        T4.F_AUTH_USER,
        T4.F_AUTH_ADMIN
    </sql>

    <!--  Award List -->
    <select id="selAwardList" resultMap="awardResultSet" parameterType="search">
        SELECT
            <include refid="selWork" />
            <if test="sort == 'award'">
            , F_CONTEST
            , F_AWARD
            </if>
        FROM
            <if test="sort == 'award'">
                T_AWARD_WORK
            </if>
            <if test="sort == 'invit'">
                T_INVIT_WORK
            </if>
         WHERE F_STATUS = 'N'

        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND F_REG_DATE BETWEEN #{startDate} AND #{endDate}
        </if>

        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="schFilter != null and schFilter == 'op-title'">
                    AND F_TITLE LIKE '%' || #{keyword} || '%'
                </when>
                <when test="schFilter != null and schFilter == 'op-author'">
                    AND F_AUTHOR LIKE '%' || #{keyword} || '%'
                </when>
                <otherwise>
                    AND (F_TITLE LIKE '%' || #{keyword} || '%'
                    OR F_AUTHOR LIKE '%' || #{keyword} || '%')
                </otherwise>
            </choose>
        </if>
        <choose>
            <when test="filter != null and filter == 'filter_year'">
                ORDER BY F_YEAR ASC
            </when>
             <when test="filter != null and filter == 'filter_date'">
                ORDER BY F_REG_DATE ASC
             </when>
            <otherwise>
                ORDER BY F_REG_DATE DESC
            </otherwise>
        </choose>
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <!--  Award List CNT -->
    <select id="cntAwardList" parameterType="search">
        SELECT COUNT(*)
          FROM
            <if test="sort == 'award'">
                T_AWARD_WORK
            </if>
            <if test="sort == 'invit'">
                T_INVIT_WORK
            </if>
         WHERE F_STATUS = 'N'

        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND F_REG_DATE BETWEEN #{startDate} AND #{endDate}
        </if>

        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="schFilter != null and schFilter == 'op-title'">
                    AND F_TITLE LIKE '%' || #{keyword} || '%'
                </when>
                <when test="schFilter != null and schFilter == 'op-author'">
                    AND F_AUTHOR LIKE '%' || #{keyword} || '%'
                </when>
                <otherwise>
                    AND (F_TITLE LIKE '%' || #{keyword} || '%'
                    OR F_AUTHOR LIKE '%' || #{keyword} || '%')
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="selWorkWithUser" resultMap="workResultSet">
        SELECT T1.F_CODE,
               T1.F_TITLE,
               T1.F_AUTHOR,
               T1.F_YEAR,
               T1.F_REG_DATE,
               T1.F_FILEPATH,
               T2.F_NAME,
               T2.F_DEPT,
               T2.F_ID,
               T2.F_AREA,
               T2.F_BIRTH,
               T2.F_PHONE,
               T2.F_EMAIL,
               T2.F_MAIN_ADDRESS,
               T2.F_SUB_ADDRESS,
               T2.F_USER_NO
                <if test="sort == 'award'">
                    , T1.F_CONTEST
                    , T1.F_AWARD
                    , T1.F_HOST
                    , T1.F_MANAGER
                </if>
          FROM
            <if test="sort == 'award'">
                T_AWARD_WORK T1
            </if>
            <if test="sort == 'invit'">
                T_INVIT_WORK T1
            </if>
              JOIN T_USER T2
                  ON T1.F_USER_NO=T2.F_USER_NO
          WHERE T1.F_STATUS = 'N'
            AND T1.F_WORK_NO = #{workNo}
    </select>

    <select id="selUserList" resultMap="userResultSet" parameterType="map">
        SELECT
            T1.F_USER_NO,
            F_ID,
            F_NAME,
            F_PERSONAL_NUM,
            F_REG_DATE,
            F_AREA,
            F_BIRTH,
            F_PHONE,
            F_EMAIL,
            F_DEPT,
            F_POSITION,
            F_MAIN_ADDRESS,
            F_SUB_ADDRESS,
            F_LOGIN_DATE,
            F_MOD_DATE,
            F_STATUS,
            F_MEMO,
            T2.F_USER_NO,
            T2.F_AUTH_AWARD,
            T2.F_AUTH_INVIT,
            T2.F_AUTH_REG,
            T2.F_AUTH_SIM,
            T2.F_AUTH_USER,
            T2.F_AUTH_ADMIN
        FROM T_USER T1
        LEFT JOIN T_AUTH T2
        ON T1.F_USER_NO = T2.F_USER_NO
        WHERE 1=1
        <if test="sort != null and sort != ''">
            AND F_STATUS = 'N'
            <choose>
                <when test="sort == '회원'">
                    AND F_SORT = '회원'
                </when>
                <when test="sort == '관리자'">
                    AND F_SORT = '관리자'
                </when>
            </choose>
        </if>
        <if test="userNo != null and userNo != ''">
            AND T1.F_USER_NO = #{userNo}
        </if>
    </select>

    <update id="delWork" parameterType="int">
        UPDATE
        <if test="sort == 'award'">
            T_AWARD_WORK
        </if>
        <if test="sort == 'invit'">
            T_INVIT_WORK
        </if>
           SET F_STATUS = 'Y'
         WHERE F_WORK_NO = #{workNo}
    </update>

    <!-- 작품 정보수정 -->
    <update id="updateWork" parameterType="java.util.List">
        UPDATE
        <if test="work[0] == 'award'">
            T_AWARD_WORK
        SET
            F_TITLE = #{work[1]},
            F_CONTEST = #{work[2]},
            F_AUTHOR = #{work[3]},
            F_AWARD = #{work[4]},
            F_HOST = #{work[5]},
            F_MANAGER = #{work[6]},
            F_YEAR = #{work[7]}
        WHERE F_WORK_NO = #{work[8]}
        </if>
        <if test="work[0] == 'invit'">
            T_INVIT_WORK
        SET
            F_TITLE = #{work[1]},
            F_AUTHOR = #{work[2]},
            F_YEAR = #{work[3]}
        WHERE F_WORK_NO = #{work[4]}
        </if>
    </update>

    <!-- 회원 정보수정 -->
    <update id="updateUser" parameterType="java.util.List">
        UPDATE T_USER
        SET
            F_AREA = #{user[1]},
            F_NAME = #{user[2]},
            F_BIRTH = #{user[3]},
            F_PHONE = #{user[4]},
            F_EMAIL = #{user[5]},
            F_MAIN_ADDRESS = #{user[7]},
            F_SUB_ADDRESS = #{user[8]}
        WHERE F_USER_NO = #{user[9]}
    </update>

    <!-- 작품 테이블 회원번호 수정-->
    <update id="updateWorkUserNo" parameterType="java.util.List">
    UPDATE
        <if test="user[0] == 'award'">
            T_AWARD_WORK
        </if>
        <if test="user[0] == 'invit'">
            T_INVIT_WORK
        </if>
    SET
        F_USER_NO = #{user[9]}
    WHERE F_WORK_NO = #{user[10]}
    </update>

    <select id="cntUserList" parameterType="search" >
        SELECT COUNT(*)
        FROM T_USER
        WHERE 1=1
        <choose>
            <when test="sort != null and sort == '회원'">
                AND F_SORT = '회원'
            </when>
            <when test="sort != null and sort == '관리자'">
                AND F_SORT = '관리자'
            </when>
        </choose>

        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="schFilter != null and schFilter == 'op-name'">
                    AND F_NAME LIKE '%' || #{keyword} || '%'
                </when>
                <when test="schFilter != null and schFilter == 'op-dept'">
                    AND F_DEPT LIKE '%' || #{keyword} || '%'
                </when>
                <when test="schFilter != null and schFilter == 'op-position'">
                    AND F_POSITION LIKE '%' || #{keyword} || '%'
                </when>
                <otherwise>
                    AND (F_NAME LIKE '%' || #{keyword} || '%'
                    OR F_DEPT LIKE '%' || #{keyword} || '%'
                    OR F_POSITION LIKE '%' || #{keyword} || '%')
                </otherwise>
            </choose>
        </if>
    </select>

    <!-- 운영회원/관리자 관리 -->
    <select id="selManageList" resultMap="userResultSet" parameterType="search">
        SELECT
            T1.F_USER_NO,
            F_ID,
            F_NAME,
            F_PERSONAL_NUM,
            F_REG_DATE,
            F_AREA,
            F_BIRTH,
            F_PHONE,
            F_EMAIL,
            F_DEPT,
            F_POSITION,
            F_MAIN_ADDRESS,
            F_SUB_ADDRESS,
            F_LOGIN_DATE,
            F_MOD_DATE,
            F_STATUS,
            F_MEMO
        FROM T_USER T1
        WHERE 1=1
        <if test="sort != null and sort != ''">
            AND F_STATUS = 'N'
            <choose>
                <when test="sort == '회원'">
                    AND F_SORT = '회원'
                </when>
                <when test="sort == '관리자'">
                    AND F_SORT = '관리자'
                </when>
            </choose>
        </if>

        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="schFilter != null and schFilter == 'op-name'">
                    AND F_NAME LIKE '%' || #{keyword} || '%'
                </when>
                <when test="schFilter != null and schFilter == 'op-dept'">
                    AND F_DEPT LIKE '%' || #{keyword} || '%'
                </when>
                <when test="schFilter != null and schFilter == 'op-position'">
                    AND F_POSITION LIKE '%' || #{keyword} || '%'
                </when>
                <otherwise>
                    AND (F_NAME LIKE '%' || #{keyword} || '%'
                    OR F_DEPT LIKE '%' || #{keyword} || '%'
                    OR F_POSITION LIKE '%' || #{keyword} || '%')
                </otherwise>
            </choose>
        </if>
        <if test="offset != null and limit != null">
            OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
        </if>
    </select>

    <update id="delUser" parameterType="map">
        UPDATE T_USER
        SET F_STATUS = 'Y'
        WHERE F_SORT = #{sort}
          AND F_WORK_NO = #{userNo}
    </update>
</mapper>
