<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.java_practice.commons.mapper.AuthMapper">
    <select id="getUserInfoById" parameterType="String" resultType="User">
        SELECT F_ID, F_ID
        FROM T_USER
        WHERE F_ID = #{id}
    </select>
</mapper>