<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.java_practice.commons.mapper.AuthMapper">
    <resultMap id="userResultMap" type="User">
        <id property="f_id" column="F_ID"/>
    </resultMap>

    <select id="selectUserById" resultMap="userResultMap">
        SELECT F_ID
        FROM T_USER
        WHERE F_ID = #{userId}
    </select>
</mapper>