<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.java_practice.commons.mapper.AuthMapper">
    <resultMap id="userResultMap" type="UserWithAuth">
        <id property="f_user_no" column="F_USER_NO"/>
        <result property="f_id" column="F_ID"/>
        <result property="f_name" column="F_NAME"/>
        <result property="f_sort" column="F_SORT"/>
        <result property="f_auth_award" column="f_auth_award" />
        <result property="f_auth_invit" column="f_auth_invit" />
        <result property="f_auth_reg" column="f_auth_reg" />
        <result property="f_auth_sim" column="f_auth_sim" />
        <result property="f_auth_user" column="f_auth_user" />
        <result property="f_auth_admin" column="f_auth_admin" />
    </resultMap>

    <resultMap id="userStatsResultMap" type="UserStats">
        <result property="user_cnt" column="user_cnt"></result>
        <result property="admin_cnt" column="admin_cnt"></result>
    </resultMap>

    <resultMap id="userRegStatsResultMap" type="UserRegStats">
        <result property="f_name" column="f_name"/>
        <result property="reg_cnt" column="reg_cnt"/>
    </resultMap>

    <select id="selectUserById" resultMap="userResultMap">
        SELECT t1.F_USER_NO, F_ID, F_NAME, F_SORT,
               NVL(t2.F_AUTH_AWARD, 'N') as F_AUTH_AWARD,
               NVL(t2.F_AUTH_INVIT, 'N') as F_AUTH_INVIT,
               NVL(t2.F_AUTH_REG, 'N') as F_AUTH_REG,
               NVL(t2.F_AUTH_SIM, 'N') as F_AUTH_SIM,
               NVL(t2.F_AUTH_USER, 'N') as F_AUTH_USER,
               NVL(t2.F_AUTH_ADMIN, 'N') as F_AUTH_ADMIN
        FROM T_USER T1
        LEFT JOIN T_AUTH t2 on t1.F_USER_NO = t2.F_USER_NO
        WHERE F_ID = #{userId}
    </select>

    <update id="updateLastLoginByUserNo">
        update T_USER set F_LOGIN_DATE = sysdate where F_USER_NO = #{userNo}
    </update>

    <select id="selectUserSortStats" resultMap="userStatsResultMap">
        select
            nvl(sum(case when F_SORT = '회원' then 1 else 0 end), 0) as user_cnt,
            nvl(sum(case when F_SORT = '관리자' then 1 else 0 end), 0) as admin_cnt
        from T_USER
    </select>

    <select id="selectUserRegStats" resultMap="userRegStatsResultMap">
        With AwardWork as(
            select F_USER_NO as admin_no,
                   count(1) as reg_cnt
            from T_AWARD_WORK group by f_user_no
        ),
             InvitWork as(
                 select F_USER_NO as admin_no,
                        count(1) as reg_cnt
                 from T_INVIT_WORK group by f_user_no
             )
        select f_name,
               sum(t2.reg_cnt + t3.reg_cnt) as reg_cnt
        from T_USER t1
                 join AwardWork t2 on t1.F_USER_NO = t2.admin_no
                 join InvitWork t3 on t1.F_USER_NO = t3.admin_no
        group by f_name
        order by reg_cnt desc
        offset 0 rows fetch next 3 rows only
    </select>
</mapper>