<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.java_practice.commons.mapper.AwardWorkMapper">
    <resultMap id="awardResultMap" type="Award">
        <id property="f_work_no" column="F_WORK_NO"/>
        <result property="f_title" column="F_TITLE"/>
        <result property="f_author" column="F_AUTHOR"/>
        <result property="f_year" column="F_YEAR"/>
        <result property="f_contest" column="F_CONTEST"/>
        <result property="f_award" column="F_AWARD"/>
        <result property="f_code" column="F_CODE"/>
        <result property="f_manage" column="F_MANAGE"/>
        <result property="f_host" column="F_HOST"/>
        <result property="f_reg_date" column="F_REG_DATE"/>
        <result property="f_filepath" column="F_FILEPATH"/>
    </resultMap>

    <select id="selectAwardListBySearch" parameterType="WorkSearch" resultMap="awardResultMap">
        select *
        from (
              select
                  F_WORK_NO,
                  F_TITLE,
                  F_AUTHOR,
                  F_YEAR,
                  F_CONTEST,
                  F_AWARD,
                  F_MANAGER,
                  F_HOST,
                  F_REG_DATE,
                  F_FILEPATH,
                  ROW_NUMBER() over (order by F_WORK_NO desc) as rn
              from T_AWARD_WORK
              where F_STATUS = 'N'
                  <if test="staDate != null and staDate != ''">
                      AND TO_CHAR(F_REG_DATE, 'YYYY-MM-DD') <![CDATA[>=]]> #{staDate}
                  </if>
                  <if test="endDate != null and endDate != ''">
                      AND TO_CHAR(F_REG_DATE, 'YYYY-MM-DD') <![CDATA[<=]]> #{endDate}
                  </if>
                  <if test="staYear != null and staYear != ''">
                      AND F_YEAR <![CDATA[>=]]> #{staYear}
                  </if>
                  <if test="endYear != null and endYear != ''">
                      AND F_YEAR <![CDATA[<=]]> #{endYear}
                  </if>
                  <if test="keyword != null and keyword != ''">
                    <choose>
                        <when test="schKeyword != null and schKeyword == 'title'">
                            AND F_TITLE like '%' || #{keyword} || '%'
                        </when>
                        <when test="schKeyword != null and schKeyword == 'author'">
                            AND F_AUTHOR like '%' || #{keyword} || '%'
                        </when>
                        <when test="schKeyword != null and schKeyword == 'host'">
                            AND F_HOST like '%' || #{keyword} || '%'
                        </when>
                        <when test="schKeyword != null and schKeyword == 'manager'">
                            AND F_MANAGER like '%' || #{keyword} || '%'
                        </when>
                        <otherwise>
                            AND (F_TITLE like '%' || #{keyword} || '%'
                                 OR F_AUTHOR like '%' || #{keyword} || '%'
                                 OR  F_HOST like '%' || #{keyword} || '%'
                                 OR F_MANAGER like '%' || #{keyword} || '%')
                        </otherwise>
                    </choose>
                  </if>
              )
        where rn between #{startRow} and #{endRow}
    </select>

    <select id="selectAwardListCnt" resultType="int">
        select count(*) from T_AWARD_WORK where F_STATUS = 'N'
    </select>

    <select id="selectAwardListCntBySearch" resultType="int">
        select count(*)
        from T_AWARD_WORK
        where F_STATUS = 'N'
            <if test="staDate != null and staDate != ''">
                AND TO_CHAR(F_REG_DATE, 'YYYY-MM-DD') <![CDATA[>=]]> #{staDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND TO_CHAR(F_REG_DATE, 'YYYY-MM-DD') <![CDATA[<=]]> #{endDate}
            </if>
            <if test="staYear != null and staYear != ''">
                AND F_YEAR <![CDATA[>=]]> #{staYear}
            </if>
            <if test="endYear != null and endYear != ''">
                AND F_YEAR <![CDATA[<=]]> #{endYear}
            </if>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="schKeyword != null and schKeyword == 'title'">
                        AND F_TITLE like '%' || #{keyword} || '%'
                    </when>
                    <when test="schKeyword != null and schKeyword == 'author'">
                        AND F_AUTHOR like '%' || #{keyword} || '%'
                    </when>
                    <when test="schKeyword != null and schKeyword == 'host'">
                        AND F_HOST like '%' || #{keyword} || '%'
                    </when>
                    <when test="schKeyword != null and schKeyword == 'manager'">
                        AND F_MANAGER like '%' || #{keyword} || '%'
                    </when>
                    <otherwise>
                        AND (F_TITLE like '%' || #{keyword} || '%'
                        OR F_AUTHOR like '%' || #{keyword} || '%'
                        OR  F_HOST like '%' || #{keyword} || '%'
                        OR F_MANAGER like '%' || #{keyword} || '%')
                    </otherwise>
                </choose>
            </if>
    </select>

    <select id="selectAwardListForExcel" parameterType="WorkSearch" resultMap="awardResultMap">
        select *
        from (
        select
        F_WORK_NO,
        F_FILEPATH,
        F_TITLE,
        F_AUTHOR,
        F_CONTEST,
        F_AWARD,
        F_HOST,
        F_MANAGER,
        F_YEAR,
        F_REG_DATE,
        ROW_NUMBER() over (order by F_WORK_NO desc) as rn
        from T_AWARD_WORK
        where F_STATUS = 'N'
        <if test="staDate != null and staDate != ''">
            AND TO_CHAR(F_REG_DATE, 'YYYY-MM-DD') <![CDATA[>=]]> #{staDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND TO_CHAR(F_REG_DATE, 'YYYY-MM-DD') <![CDATA[<=]]> #{endDate}
        </if>
        <if test="staYear != null and staYear != ''">
            AND F_YEAR <![CDATA[>=]]> #{staYear}
        </if>
        <if test="endYear != null and endYear != ''">
            AND F_YEAR <![CDATA[<=]]> #{endYear}
        </if>
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="schKeyword != null and schKeyword == 'title'">
                    AND F_TITLE like '%' || #{keyword} || '%'
                </when>
                <when test="schKeyword != null and schKeyword == 'author'">
                    AND F_AUTHOR like '%' || #{keyword} || '%'
                </when>
                <when test="schKeyword != null and schKeyword == 'host'">
                    AND F_HOST like '%' || #{keyword} || '%'
                </when>
                <when test="schKeyword != null and schKeyword == 'manager'">
                    AND F_MANAGER like '%' || #{keyword} || '%'
                </when>
                <otherwise>
                    AND (F_TITLE like '%' || #{keyword} || '%'
                    OR F_AUTHOR like '%' || #{keyword} || '%'
                    OR  F_HOST like '%' || #{keyword} || '%'
                    OR F_MANAGER like '%' || #{keyword} || '%')
                </otherwise>
            </choose>
        </if>
        )
    </select>

    <select id="selectAwardYearList" resultType="string">
        select f_year from T_AWARD_WORK group by f_year order by F_YEAR desc
    </select>

    <update id="updateAwardStatusByWorkNo" parameterType="int">
        update T_AWARD_WORK set F_STATUS = 'Y'
        where F_WORK_NO = #{workNo}
    </update>

    <insert id="insertAwardWork">
        <selectKey keyProperty="f_work_no" resultType="int" order="BEFORE">
            SELECT NVL(MAX(F_WORK_NO), 0) + 1 FROM T_AWARD_WORK
        </selectKey>
        insert into T_AWARD_WORK(F_WORK_NO, F_TITLE, F_AUTHOR, F_YEAR, F_REG_DATE, F_CODE, F_USER_NO, F_WORK_SIZE,
                                 F_FILENAME, F_FILEPATH, F_CONTEST, F_AWARD, F_MANAGER, F_HOST, F_MEMO)
        values (#{f_work_no}, #{f_title}, #{f_author}, #{f_year}, sysdate, #{f_code}, #{f_user_no}, #{f_work_size},
                #{f_filename}, #{f_filepath}, #{f_contest}, #{f_award}, #{f_manager}, #{f_host}, #{f_memo})
    </insert>

    <select id="selectNextWorkNo" resultType="int">
        SELECT NVL(MAX(F_WORK_NO), 0) + 1 FROM T_AWARD_WORK
    </select>

    <insert id="insertBatchAwardWork" parameterType="list">
        insert into T_AWARD_WORK(F_WORK_NO, F_TITLE, F_AUTHOR, F_YEAR, F_REG_DATE, F_CODE, F_USER_NO, F_WORK_SIZE,
                                 F_FILENAME, F_FILEPATH, F_CONTEST, F_AWARD, F_MANAGER, F_HOST, F_MEMO)
        values
        <foreach collection="list" item="award" separator=",">
            (#{award.f_work_no}, #{award.f_title}, #{award.f_author}, #{award.f_year}, sysdate, #{award.f_code}, #{award.f_user_no}, #{award.f_work_size},
            #{award.f_filename}, #{award.f_filepath}, #{award.f_contest}, #{award.f_award}, #{award.f_manager}, #{award.f_host}, #{award.f_memo})
        </foreach>
    </insert>
</mapper>
