<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 디렉토리 유지용 예시. 틀릴 수도 있음 -->
<mapper namespace="com.example.java_practice.commons.mapper.testSqlMapper">

    <select id="selectDepartmentCategoryAll" resultType="com.fe.findeat.dto.DepartmentCategoryDto">
        SELECT * FROM fe_department_category;
    </select>

</mapper>

