<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404 Not Found</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
    <div class="error-wrapper" style="margin-top: 22rem;">
    <h1>404 Error Page</h1>
    <p class="zoom-area" th:text="${msg}"><b>The page</b> you're looking for is unavailable. </p>
    <section class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function (){
            setTimeout(function (){
                history.back();
            }, 2500)
        })
    </script>
</body>
</html>