* {box-sizing: border-box;}
div {border: 1px solid darkorange;}
/*body, html { margin: 0; padding: 0; width: 100%; height: 100%; }*/
.ui { display: flex; width: 100%; margin-top: 3.75rem; min-height: calc(100vh - 3.75rem); }
.main { width: 100%; }
.title { padding: 1.0rem; font-size: 1.5rem; font-weight: 900; height: 3.75rem;  display: flex; align-items: center; }
.content { display: flex; flex-wrap: wrap; }

.area1, .area2 { border-top: 1px solid #ddd; padding: 1.0rem; flex: 1; display: flex; flex-direction: column; height: calc(100vh - 7.5rem); }
.area1 { border-right: 1px solid #ddd; }
.sec1-1 { flex: 1;}
.sec1-2 { flex: 0.2; display: flex; width: 100%; }
.sec1-3 { flex: 8.8; }
.sec2-1 { flex: 5; }
.sec2-2 { height: 100%; }



/**********************************************************************************************/

/* area1 start */
/* sec1-1 start */

/* sec1-2 start */
