* {box-sizing: border-box;}
/*div {border: 1px solid darkorange;}*/
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fffdfd;
}

.ui {
    display: flex;
    width: 100%;
    margin-top: 3.75rem;
    min-height: calc(100vh - 3.75rem);
}

.area1, .area2 {
    padding: 1.0rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sec1-1 { flex: 1; padding : 1.0rem;}
.sec1-2 { flex: 0.2; display: flex; padding: 1.0rem; width: 100%}
.sec1-3 { flex: 8.7; padding : 1.0rem; }

.sec2-1 { flex: 5; }
.sec2-2 { flex: 5; }

.row {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ddd;
}

.header-row {
    color: #5B5B5B;
    background: #F0F0F0;
    font-weight: 900;
    text-align: center;
}

.header-cell {
    color: #5B5B5B;
    background: #F0F0F0;
    font-weight: 900;

    padding: 1.0rem;
    font-size: 1.0rem;
    min-width: 8.0rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    padding: 0.5rem;
    font-size: 1rem;
    word-break: break-word;
    overflow: hidden;
    /*white-space: nowrap;*/
}
/**********************************************************************************************/

/* area1 start */
/* sec1-1 start */

/* sec1-1 end */

/* sec1-2 start */
.sch-result {flex: 1; padding: 0.5rem; display: flex; justify-content: flex-start; align-items: center;}
.filter-div {flex: 1; padding: 0.5rem; display: flex; justify-content: flex-end; align-items: center;}

.filter {
    min-width: 8.0rem;
    font-size: 1.0rem;
}
/* sec1-2 end */


/* sec1-3 start */
.reg-list-tb, .sch-tb, .work-tb, .user-tb { border: 1px solid #000000A0; }
.reg-list-tb > .row > .cell { justify-content: center; }
/* sec1-3 end */
/* area1 end */





/* area2 start */

/* sec2-1 start */
.work-tb > .row > .header-row { width: 8.0rem }
.info { padding: 1.0rem; font-size: 1.0rem; font-weight: 900; }
.cell > input { width: 80%; height: 80%; }
.img-cell { height: 10.0rem; display: flex; padding: 1.0rem; }
.img-cell > div { height: 100%; align-items: flex-end; display: flex; }
.img-cell > div > img {  }
.img-cell > div > button {
    background-color: #FFFFFF;
    font-weight: 600;
    width: 10.0rem;
    padding: 0.7rem 1.0rem;
    font-size: 1.0rem;
}
/* sec2-1 end */

/* sec2-2 start */
.btn-div { padding: 1.0rem 0; display: flex; }
.btn-div > div { flex: 1; display: flex; flex-wrap: wrap; gap: 1.0rem;}
.btn-group1 { justify-content: flex-start; }
.btn-group2 { justify-content: flex-end;}
.btn-group1 > button { color: #FFFFFF; background-color: red; }
.btn-group2 > button { color: #FFFFFF; background-color: black; }
.btn-div > div > button {
    font-weight: 600;
    border: none;
    width: 10.0rem;
    padding: 0.7rem 1.0rem;
    font-size: 1.0rem;
}
/* sec2-2 end */



/* area2 end */