<div class="fragment" th:fragment="footer">
    <footer class="footer-wrap">
        <div class="ft-btm">
            <div class="footer-container">
                <div class="float-left hidden-xs">
                    <img src="/images/images/logo.png" class="logo-bottom">
                </div>

                <div class="footer-content">
                    본 사이트에서 제공하는 이미지 및 기사는 저작권이 있으므로 무단 사용 시 법적 책임이 있습니다.
                    <ul class="footer-info">
                        <li>(사)한국프로사진협회</li>
                        <li>&nbsp;서울 광진구 천호대로 591 사진회관</li>
                        <li>&nbsp;전화 : <span>02-4545-600</span></li>
                        <li style="padding-left:10px;">FAX : <span>02-4545-608</span></li>
                    </ul>
                    <span class="footer-text">한국프로사진협회 All rights reserved.</span>
                </div>
            </div>
        </div>
    </footer>
</div>

