<div class="fragment" th:fragment="navbar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar-menu">

        <a href="/notice"><div class="menu-section">공지사항</div></a>
        <div sec:authorize="(authentication.principal.sort =='회원') or (authentication.principal.sort == '관리자' and hasRole('AWARD'))">
            <div class="menu-section">수상작 등록관리</div>
            <a href="/worklist/award"><div class="menu-item">현황</div></a>
            <a href="/single/award"><div class="menu-item">개별등록</div></a>
            <a href="/bulk/award"><div class="menu-item">대량등록</div></a>
        </div>
        <div sec:authorize="(authentication.principal.sort =='회원') or (authentication.principal.sort == '관리자' and hasRole('INVIT'))">
            <div class="menu-section">초대작 등록관리</div>
            <a href="/worklist/invit"><div class="menu-item">현황</div></a>
            <a href="/single/invit"><div class="menu-item">개별등록</div></a>
            <a href="/bulk/invit"><div class="menu-item">대량등록</div></a>
        </div>
        <div th:if="${#authentication.principal.sort == '관리자'}">
            <div sec:authorize="hasRole('REG')">
                <div class="menu-section">등록작품현황</div>
                <a href="/admin/award"><div class="menu-item">수상작 등록현황</div></a>
                <a href="/admin/invit"><div class="menu-item">초대작 등록현황</div></a>
            </div>
            <div sec:authorize="hasRole('SIM')">
                <a href="/admin/similar"><div class="menu-section">유사도검색</div></a>
            </div>
            <div sec:authorize="hasRole('USER')">
                <a href="/admin/user"><div class="menu-section">운영회원관리</div></a>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                <a href="/admin/manage"><div class="menu-section">관리자등록관리</div></a>
            </div>
        </div>
    </nav>
</div>
